#modal-content
  #calendar





- if campany_signed_in?
  = render '/recruitments/campany_header'
- elsif user_signed_in?
  = render '/recruitments/user_header'
- else
  = render '/recruitments/home_header'



.main-contents
  .main-contents__company
    =image_tag "CompanyOverview.png"
    .main-contents__details
      .main-contents__details__job
        エンジニア
      %h2.main-contents__details__title ワクワクするような企業を一番近くでサポートして、もっと成長させてくれる人
      %p.main-contents__details__name
        %img.logo{:alt => "Wantedly", :height => "44px", :src => "https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg", :width => "44px", :margin => "0"}/
        %a{:href => "/"} 株式会社リクルートスタッフ
  .main-contents__company
    =image_tag "job.image1.png"
    .main-contents__details
      .main-contents__details__job
        エンジニア
      %h2.main-contents__details__title ユーザビリティに徹底的にこだわるフロントエンジニアを募集！
      %p.main-contents__details__name
        %img.logo{:alt => "Wantedly", :height => "44px", :src => "https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg", :width => "44px", :margin => "0"}/
        %a{:href => "/"} 株式会社 高久田
  .main-contents__company
    =image_tag "job.image3.jpeg"
    .main-contents__details
      .main-contents__details__job
        エンジニア
      %h2.main-contents__details__title 未経験OK！！ITであなたの「夢」を叶えたいWebエンジニア募集！
      %p.main-contents__details__name
        %img.logo{:alt => "Wantedly", :height => "44px", :src => "https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg", :width => "44px", :margin => "0"}/
        %a{:href => "/"} 株式会社ASCOM

.recruitment-contents
  .recruitment-contents__center
    .recruitment-contents__center__left
      .recruitment-contents__center__left__inner
        .recruitment-contents__center__left__inner__menu
          .menu-header
            %h4 検索条件
          .menu-contents
            .job-form
              %input#search{:autocomplete => "off", :dir => "auto", :name => "q", :placeholder => "エンジニア", :spellcheck => "false", :style => "position: relative; vertical-align: top;", :type => "text"}/
            .job-form
              %input#search{:autocomplete => "off", :dir => "auto", :name => "q", :placeholder => "中途採用", :spellcheck => "false", :style => "position: relative; vertical-align: top;", :type => "text"}/
            .job-form
              %input#search{:autocomplete => "off", :dir => "auto", :name => "q", :placeholder => "地域や特徴などの条件を追加", :spellcheck => "false", :style => "position: relative; vertical-align: top;", :type => "text"}/
            .job-word
              %ul
                %li ゲーム
                %li IoT
                %li 人工知能
                %li 英語
                %li フルスタック
            .job-style
              %h5 分野
              %ul
                %li web エンジニア
                %li モバイルエンジニア
                %li インフラエンジニア
            .job-style
              %h5 地域
              %ul
                %li 北海道・東北
                %li 中国・四国
                %li 関東
            .job-style
              %h5 特徴
              %ul
                %li TechCrunchに掲載実績あり
                %li 1億円以上の資金を調達済み
                %li Skypeで話を聞ける

    .recruitment-contents__center__main
      .recruitment-contents__center__main-menu
        %p.recruitment-count 10/16169
        %ul
          %li
            %a おすすめ
          %li
            %a 新着
          %li
            %a 人気
        .h4 並び替え
        .recruitment-contents__center__main-area
          .recruitment-contents__center__main-area-messages
            = render @recruitments

%footer.index-footer
  .footer-inner
    .footer-inner__main
      .footer-logo
        %img.logo{:src => "/assets/wantedly.logo.png"}








