.detail-contents {
  width: 1440px;
  height: 5000px;
  &__main {
    width: 981px;
    height: 5000px;
    margin: 0 auto;
    &__header {
      width: 981px;
      height: 675px;
      &__title {
        width: 981px;
        height: 155px;
        &__icon {
          width: 981px;
          height: 20px;
        }
        .title {
          color: #24282A;
          font-size: 26px;
          font-weight: 600;
          margin-bottom: 16px;
        }
        &__name {
          width: 981px;
          height: 44px;
          &__icon {
            width: 42px;
            height: 42px;
            float: left;
          }
          .campany-name {
            float: left;
            color: #006F8E;
            text-decoration: none;
            line-height: 42px;
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
      &__image {
        width: 981px;
        height: 470px;
        &__main {
          width: 978px;
          height: 398px;
          margin: 0 auto;
        }
        .bottom-menu {
          margin: 0;
          padding: 0;
          width: 978px;
          height: 70px;
          list-style: none;
          border-bottom: 1px solid #D7DBDF;
          border-left: 1px solid #D7DBDF;
          border-right: 1px solid #D7DBDF;
          .time {
            width: 150px;
            height: 70px;
            text-align: center;
            line-height: 65px;
            border-right: 1px solid #D7DBDF;
            float: left;
            color: #6A6E71;
          }
          .friends {
            width: 296px;
            height: 70px;
            float: left;
            text-align: center;
            line-height: 65px;
            color: #6A6E71;
            border-right: 1px solid #D7DBDF;
          }
          .total-view {
            width: 107px;
            height: 70px;
            float: left;
            text-align: center;
            line-height: 65px;
            border-right: 1px solid #D7DBDF;
            color: #6A6E71;
          }
          .btn {
            width: 422px;
            height: 70px;
            float: left;
          }
        }
      }
    }
    &__area {
      width: 681px;
      height: 5005px;
      float: left;
      &__inner {
        width: 640px;
        height: 4945px;
        margin-top: 60px;
      }
    }
    &__side {
      width: 300px;
      height: 4961px;
      float: left;
      &__btn {
        width: 299px;
        height: 258px;
        &__inner {
          width: 280px;
          height: 160px;
          margin-top: 30px;
          float: right;
          .apply-btn {
            width: 280px;
            height: 50px;
            line-height: 50px;
            padding: 0;
            font-size: 16px;
            background: #60b838;
            color: #fff;
            border: none;
          }
        }
      }
    }
  }
}
