.header {
  height: 60px;
  background-color: #000000;
  &__logo {
    height: 60px;
    width: 59px;
    float: left;
    .icon {
      max-width: 100%;
      padding: 8px 8px 7px 8px;
    }
  }
  &__menu {
    height: 60px;
    width: 586px;
    float: left;
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        width: 88px;
        height: 60px;
        float: left;
        font-size: 14px;
        text-align: center;
        line-height: 60px;
        a {
          color: #45494B;
          text-decoration: none;
        }
      }
    }
    .input {
      width: 360px;
      height: 36px;
      margin: 11px 0px 10px 32px;
      padding: 0px 35px 0 10px;
      box-sizing: border-box;
      font-weight: 400;
      line-height: 16px;
      border: none;
      color: #9DA0A4;
      border: 1px solid #D7DBDF;
      font-size: 14px;
        .wt-icon {
          display: inline-block;
        }
    }
  }
  .btn {
    padding-left: 650px;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: #45494B;
  }
  &__profile {
    float: right;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 0;
    position: relative;
    .photo {
      width: 40px;
      height: 40px;
      content: "";
      display: block;
      border-radius: 50%;
    }
    
    .hidden-menu {
      width: 282px;
      height: 340px;
      display: none;
      position: absolute;
      right: 10px;
      border: 1px solid #9DA0A4;
      z-index: 2;
      &__account {
        width: 280px;
        height: 84px;
        border-bottom: 1px solid #9DA0A4;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            margin: 0;
            padding: 0;
            .account-link {
              width: 280px;
              height: 64px;
              .name-area {
                width: 99px;
                height: 36px;
                margin-left: 20px;
                padding-top: 24px;
                .name-profile {
                  font-size: 14px;
                  font-weight: 600;
                  color: #24282A;
                }
                .name-edit {
                  display: block;
                  font-size: 11px;
                  font-weight: 400;
                  color: #9DA0A4;
                }
              }
            }
          }
        }
      }
      &__visit {
        width: 280px;
        height: 89px;
        border-bottom: 1px solid #9DA0A4;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            padding-top: 15px;
            margin-left: 40px;
            .apply-visit {
              text-decoration: none;
              font-size: 14px;
              font-weight: 600;
              color: #24282A;
            }
          }
        }
      }
      &__user {
        width: 280px;
        height: 165px;
        border-bottom: 1px solid #9DA0A4;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            padding-top: 15px;
            margin-left: 40px;
            .user-menu {
              text-decoration: none;
              font-size: 14px;
              font-weight: 600;
              color: #24282A;
            }
          }
        }
      }
    }
  }
}

.main-contents {
  height: 442px;
  width: 1440px;
  margin-top: 30px;
  &__company {
    height: 430px;
    width: 470px;
    border-bottom: 5px solid #f5f5f5;
    border-right: 5px solid #f5f5f5;
    float: left;
    img {
      display: block;
      height: 262px;
      width: 470px;
    }
  }
    &__details {
      height: 123px;
      width: 470px;
      &__job {
        display: inline-block;
        color: #00A4BB;
        font-size: 12px;
        font-weight: 600;
        vertical-align: middle;
        margin: 0;
        padding: 0;
      }
      &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
        padding-top: 3px;
        height: 59px;
        width: 460px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__name {
        height: 36px;
        width: 410px;
        .logo {
          height: 38px;
          width: 38px;
          float: left;
        }
        a {
          text-decoration: none;
          color: #9DA0A4;
          display: block;
          line-height: 2.5;
          margin-left: 50px;
        }
      }
    }
}

.recruitment-contents {
  width: 1440px;
  height: 8153px;
  &__center {
    width: 890px;
    height: 8153px;
    margin: 0 auto;
    &__left {
      width: 300px;
      height: 818px;
      float: left;
      &__inner {
        width: 300px;
        height: 770px;
        margin-top: 48px;
        &__menu {
          width: 264px;
          height: 770px;
          margin-left: 36px;
          .menu-header {
            width: 263px;
            height: 36px;
            h4 {
              font-size: 14px;
              color: #9DA0A4;
            }
          }
          .menu-contents {
            width: 264px;
            height: 734px;
            .job-form {
              width: 236px;
              height: 34px;
              padding-top: 20px;
              #search {
                width: 236px;
                height: 34px;
              }
            }
            .job-word {
              width: 227px;
              height: 140px;
              margin-top: 20px;
              border-bottom: 1px solid #9DA0A4;
              ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                  margin-top: 5px;
                  font-size: 14px;
                  color: #24282A;
                  line-height: 22px;
                }
              }
            }
          }
        }
      }
    }
    &__main {
      width: 581px;
      height: 8125px;
      float: left;
      overflow-y: scroll;
      &-menu {
        width: 560px;
        height: 50px;
        padding-bottom: 18px;
        border-bottom: 2px solid #f5f5f5;
        .recruitment-count {
          float: left;
          margin-top: 7px;
          font-size: 14px;
          line-height: 14px;
          font-weight: 400;
          color: #999999;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: inline;
          li {
            float: right;
            display: inline;
            margin-left: 1em;
          }
        }
        .h4 {
          float: right;
        }
      }
      &-area {
        width: 560px;
        height: 534px;
        &-messages {
          width: 560px;
          height: 409px;
        .job-labels {
          width: 87px;
          height: 20px;
          border-radius: 2px;
          display: block;
          box-sizing: border-box;
          margin-right: 8px;
          padding: 0 4px;
          color: #00A4BB;
          background-color: transparent;
          border: 1px solid #00A4BB;
          font-size: 11px;
          font-weight: 500;
          line-height: 18px;
        }
        .job-title {
          width: 560px;
          height: 60px;
          display: block;
          margin-top: 10px;
          text-decoration: none;
          color: #000000;
          font-size: 22px;
          line-height: 1.4em;
          a {
            width: 550px;
            height: 56px;
            text-decoration: none;
            font-size: 22px;
            font-weight: 600;
            line-height: 1.4em;
          }
        }
        .job-introduction {
          width: 560px;
          height: 63px;
          line-height: 1.5;
          color: #9DA0A4;
          margin-bottom: 14px;
          font-size: 14px;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .job-bottom {
          width: 560px;
          height: 50px;
          .lazy {
            border-radius: 50%;
            float: left;
          }
          &__campany {
            width: 67px;
            height: 44px;
            flex: 0 1 auto;
            min-width: 0;
            float: left;
            padding-left: 5px;
            .campany-name {
              color: #24282A;
              margin: 0;
              font-size: 14px;
              font-weight: 500;
              line-height: 1.3em;
            }
            .campany-prefecture {
                font-weight: 300;
                font-size: 12px;
                color: #9DA0A4;
              }
          }
        }
      }
      }
    }
  }
}
#calendar {
  width: 700px;
  height: 600px;
}
