.recruitment-main {
  width: 1440px;
  height: 2585px;
  &__bar {
    width: 220px;
    height: 829px;
    float: left;
    &__inner {
      width: 219px;
      height: 628px;
      border-right: 1px solid #9DA0A4;
      &__section {
        width: 195px;
        height: 307px;
        border-bottom: 1px solid #e3e3e3;
        .item {
          width: 183px;
          height: 20px;
          list-style: none;
          padding: 8px 0;
          display: block;
          font-size: 14px;
          margin-left: 10px;
        }
          .punctuation {
            color: #9DA0A4;
            font-size: 11px;
            margin-left: 10px;
          }
      }
    }
  }
  &__right {
    width: 980px;
    height: 2711px;
    float: left;
    &__contents {
      width: 761px;
      height: 2711px;
      border-right: 1px solid #9DA0A4;
      &__header {
        width: 800px;
        height: 42px;
        #tabs {
          list-style: none;
          margin: 0;
          padding: 0;
          .content {
            width: 253px;
            height: 42px;
            color: #24282A;
            border-bottom: 2px solid #00A4BB;
            float: left;
            text-align: center;
            list-style: none;
            line-height: 38px;
          }
        }
      }
      &__message {
        width: 760px;
        height: 150px;
        border-bottom: 1px solid #9DA0A4;
        h2 {
          text-align: center;
          line-height: 1;
          font-size: 1.5em;
          margin-bottom: 20px;
          color: #6A6E71;
          margin-top: 140px;
        }
        p {
          text-align: center;
          color: #9DA0A4;
        }
        .bottom-message {
          font-size: 12px;
        }
      }
      &__job {
        width: 760px;
        height: 141px;
        border-bottom: 1px solid #9DA0A4;
        &__form {
          width: 700px;
          height: 101px;
          margin: 0 auto;
          padding-top: 20px;
          .field-label {
            width: 240px;
            font-size: 14px;
            color: #45494B;
          }
          #recruitment_job_was {
            width: 425px;
            height: 21px;
          }
        }
      }
      &__title {
        width: 760px;
        height: 145px;
        border-bottom: 1px solid #9DA0A4;
        &__form {
          width: 700px;
          height: 105px;
          margin: auto;
          padding-top: 20px;
          .field-label {
            color: #45494B;
            font-size: 14px;
            width: 180px;
            float: left;
            abbr {
              color: #FF3333;
              width: 60px;
              margin-bottom: 100px;
            }
          }
          .field-text {
            float: left;
            margin-left: 54px;
            #recruitment_title {
              width: 440px;
              height: 43px;
            }
          }
        }
      }
      &__detail {
        width: 760px;
        height: 280px;
        border-bottom: 1px solid #9DA0A4;
        border-left: 1px solid #9DA0A4;
        &__form {
          width: 700px;
          height: 200px;
          margin: auto;
          padding-top: 40px;
          .field-label {
            color: #45494B;
            font-size: 14px;
            width: 200px;
            float: left;
            abbr {
              color: #FF3333;
              width: 60px;
              margin-bottom: 100px;
            }
          }
          .field-detail {
            float: left;
            margin-left: 35px;
            #recruitment_text {
              width: 440px;
              height: 172px;
            }
          }
        }
      }
      &__image {
        width: 760px;
        height: 172px;
        border-bottom: 1px solid #9DA0A4;
        border-left: 1px solid #9DA0A4;
        &__form {
          width: 700px;
          height: 132px;
          margin: auto;
          padding-top: 20px;
          .field-label {
            color: #45494B;
            font-size: 14px;
            width: 200px;
            abbr {
              color: #9DA0A4;
              width: 60px;
              margin-bottom: 100px;
            }
          }
          .field-image {
            margin-top: 20px;
          }
        }
      }
      &__bottom {
        width: 760px;
        height: 70px;
        background-color: #EBEDEF;
          a {
            padding: 10px 50px;
            background: #f5f5f5;
            border: 1px solid #ddd;
            border-radius: 4px;
            text-align: center;
            width: 150px;
            height: 40px;
            margin-left: 400px;
            margin-top: 15px;
            text-decoration: none;
            color: #000000;
          }
          .send-btn {
            background: #6CC644;
            border: 1px solid #4f8338;;
            border-radius: 4px;
            text-align: center;
            width: 150px;
            height: 40px;
          }
      }
    }
  }
}
